<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order confirmation is here!</h1>
    <p>Thank you for signing up. Please sign in and do more shopping.</p>
  </body>
</html>
